<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-group">
    <input type="text" 
      [ngClass]="{'is-invalid': registerForm.get('userName').touched && registerForm.hasError('userNameMismatch')}"
      class="form-control" 
      formControlName="userName" 
      placeholder="Потребителско име"
      (keyup)="trim($event)">
    <div class="invalid-feedback" *ngIf="registerForm.hasError('userNameMismatch')" style="text-align: left;">
      Въведете валидно потребителско име
    </div>
  </div>

  <div class="form-group">
    <input type="text"
      [ngClass]="{'is-invalid': registerForm.get('fullName').touched && registerForm.hasError('fullNameMismatch')}"
      class="form-control"
      placeholder="Твоето име"
      formControlName="fullName">
    <div class="invalid-feedback" *ngIf="registerForm.hasError('fullNameMismatch')" style="text-align: left;">
      Твоето име трябва да бъде между 2 и 15 символа
    </div>
  </div>

  <div class="form-group">
    <input type="email"
      [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
      class="form-control"
      placeholder="Имейл адрес" 
      formControlName="email">
    <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')" style="text-align: left;">Полето "Имейл" е задължително</div>
    <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')" style="text-align: left;">Полето "Имейл" трябва да съдържа валиден имейл адрес</div>
  </div>
      
  <div class="form-group">
    <input type="password" 
      [ngClass]="{'is-invalid': registerForm.get('password').touched && registerForm.hasError('passwordMismatch')}"
      class="form-control" 
      formControlName="password" 
      placeholder="Парола"
      (keyup)="trim($event)">
    <div class="invalid-feedback" *ngIf="registerForm.hasError('passwordMismatch')" style="text-align: left;">
      Въведете валидна парола
    </div>
  </div>

  <div class="form-group">
    <input type="password"
      [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
        && registerForm.get('confirmPassword').touched
        || registerForm.get('confirmPassword').touched
        && registerForm.hasError('mismatch')}"
      class="form-control" 
      formControlName="confirmPassword" 
      placeholder="Потвърди парола"
      (keyup)="trim($event)">
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('confirmPassword').hasError('required') 
        && registerForm.get('confirmPassword').touched" style="text-align: left;">
        Полето "Потвърди парола" е задължително
    </div>
    <div class="invalid-feedback" 
      *ngIf="registerForm.hasError('mismatch') 
        && registerForm.get('confirmPassword').touched
        && registerForm.get('confirmPassword').value != ''" style="text-align: left;">
        Двете пароли трябва да съвпадат
    </div>
  </div>

  <span class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Регистрация</button>
  </span>
</form>