<div class="card">
  <div class="card-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div *ngIf="messages?.length === 0">
      <i>Изпратете съобщение като използвате полето отдолу</i>
    </div>
    <ul class="chat">
      <li *ngFor="let message of messages">
        <!-- from them -->
        <div *ngIf="message.senderId == recipientId">
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{message.senderUsername}}</strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o"> {{message.messageSent | timeAgo}}</span>
              </small>
            </div>
            <p *ngIf="!message.senderDeleted">{{message.content}}</p>
            <p *ngIf="message.senderDeleted"><i>[съобщението е премахнато]</i></p>
          </div>
        </div>
        <!-- from me -->
        <div *ngIf="message.senderId != recipientId">
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{message.senderUsername}}</strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o"> {{message.messageSent | timeAgo}}</span>
                <span *ngIf="message.isRead" class="text-success"> (видяно)</span> <!--  && !message.recipientDeleted -->
                <!-- <span *ngIf="message.recipientDeleted" class="text-danger"> (изтрито)</span> -->
              </small>
            </div>
            <p *ngIf="!message.senderDeleted">{{message.content}}</p>
            <p *ngIf="message.senderDeleted"><i>[вие изтрихте вашето съобщение]</i></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
      <div class="input-group">
        <textarea name="content" class="form-control" rows="2" placeholder="Въведете вашето съобщение" [(ngModel)]="newMessage.content"></textarea>
        <div class="input-group-append">
          <button [disabled]="!messageForm.valid || !ad.isApproved" class="btn btn-primary">Изпрати</button>
        </div>
      </div>
    </form>
  </div>
</div>
  
