<div class="container mt-4">
  <div class="row">
    <h1>{{ad.title}}</h1>
  </div>
  <div>
    <h5>Категория: {{ad.categoryName}}</h5>
  </div>
  <div class="row mb-4">
    <div class="col-sm-4"> <!-- left part -->
      <div class="card">
        <ng-container *ngIf="ad.photoUrl !== null;else NoPhoto">
          <img src="{{ad.photoUrl}}" alt="{{ad.id}}" class="card-img-top img-thumbnail" style="height:350px;">
        </ng-container>
        <ng-template #NoPhoto>
          <img src="https://www.tibs.org.tw/images/default.jpg" class="card-img-top img-thumbnail" style="height:350px;">
        </ng-template>
        <div class="card-body">
          <div>
            <strong>Цена:</strong> {{ad.price}} лв.
          </div>
          <div>
            <strong>Населено място:</strong> {{ad.location}}
          </div>
          <div>
            <strong>Добавена:</strong> {{ad.dateAdded | date}}
          </div>
          <div>
            <strong>Състояние: </strong><ng-container *ngIf="ad.isUsed;else Other">използвано</ng-container><ng-template #Other>ново</ng-template>
          </div>
          <div *ngIf="isLoggedIn() && !isNotUsersAd()">
            <strong>Наблюдаващи: </strong> {{adLikesCount}}
          </div>
          <div class="mt-2">
            <a [routerLink]="['/user', ad.userId, 'ads']">Вижте всички обяви от този потребител</a>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex" *ngIf="isAuthorized()">
              <button class="btn btn-primary w-100" (click)="addToFavorites(ad.id)">Наблюдавай</button>
              <button class="btn btn-success w-100" (click)="selectTab(2)">Изпрати съобщение</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8"> <!-- right part -->
      <div class="tab-panel">
        <tabset class="ad-tabset" #adTabs>
            <tab heading="Описание">
              <p>{{ad.description}}</p>
            </tab>
            <tab heading="Снимки">
              <p *ngIf="galleryImages.length == 0">Няма налични снимки</p>
              <ngx-gallery *ngIf="galleryImages.length != 0" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>
            <tab heading="Съобщения" *ngIf="senderId !== null"> <!-- *ngIf="senderId !== null && isLoggedIn()" -->
              <app-ad-messages [adId]="ad.id" [recipientId]="senderId"></app-ad-messages>
            </tab>
            <tab heading="Съобщения" *ngIf="senderId === null && isAuthorized()">
              <app-ad-messages [adId]="ad.id" [recipientId]="ad.userId"></app-ad-messages> <!-- [ad]="ad" -->
            </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
