<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="createAdForm" (ngSubmit)="createAd()">
        <h2 class="text-center text-primary">Добави обява</h2>
        <hr>
        <!-- title -->
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': createAdForm.get('title').touched && createAdForm.hasError('titleMismatch')}"
            class="form-control" 
            formControlName="title" 
            placeholder="Заглавие">
          <div class="invalid-feedback" *ngIf="createAdForm.hasError('titleMismatch')">
            Заглавието трябва да бъде между 3 и 50 символа
          </div>
        </div>
        <!-- category -->
        <div class="form-group">
          <select class="custom-select" (change)="selectCategory($event)" formControlName="categoryId" [ngClass]="{'is-invalid': createAdForm.get('categoryId').errors && createAdForm.get('categoryId').touched}">
            <option value="" disabled>Избери категория</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="createAdForm.get('categoryId').hasError('required')">
            Категорията е задължителна
          </div>
        </div>
        <!-- condition -->
        <div class="form-group">
          <select class="custom-select" 
            (change)="selectCondition($event)"
            formControlName="isUsed"
            [ngClass]="{'is-invalid': createAdForm.get('isUsed').errors
              && createAdForm.get('isUsed').touched
              || createAdForm.get('isUsed').touched
              && createAdForm.hasError('isUsedMismatch')}">
            <option value="" disabled>Избери състояние</option>
            <option value="false">ново</option>
            <option value="true">използвано</option>
            <option value="null">неопределено</option>
          </select>
          <div class="invalid-feedback" *ngIf="createAdForm.hasError('isUsedMismatch') && createAdForm.get('isUsed').touched">
            Състоянието е задължително
          </div>
        </div>
        <!-- price -->
        <div class="form-group">
          <input type="number"
            step="0.01"
            [ngClass]="{'is-invalid': createAdForm.get('price').errors 
              && createAdForm.get('price').touched
              || createAdForm.get('price').touched
              && createAdForm.hasError('priceMismatch')}"
            class="form-control" 
            formControlName="price" 
            placeholder="Цена">
          <div class="invalid-feedback" *ngIf="createAdForm.hasError('priceMismatch') && createAdForm.get('price').touched">
            Цената трябва да бъде положително число
          </div>
        </div>
        <!-- location -->
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': createAdForm.get('location').touched && createAdForm.hasError('locationMismatch')}"
            class="form-control" 
            formControlName="location" 
            placeholder="Адрес">
          <div class="invalid-feedback" *ngIf="createAdForm.hasError('locationMismatch')">
            Адресът трябва да бъде между 3 и 35 символа
          </div>
        </div>
        <!-- descrition -->
        <div class="form-group">
          <textarea
            class="form-control" 
            rows="4"
            formControlName="description"
            placeholder="Описание"
            [ngClass]="{'is-invalid': createAdForm.hasError('descriptionMismatch')}">
          </textarea>
          <div class="invalid-feedback" *ngIf="createAdForm.hasError('descriptionMismatch')">
            Описанието трябва да бъде между 10 и 1000 символа
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-success" [disabled]="!createAdForm?.valid" type="submit">Добавяне на обява</button>
          <button class="btn btn-default" type="button" (click)="cancel()">Отказ</button>
        </div>
      </form>
    </div>
  </div>
</div>
