<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">Web Bazar</a>
    
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li *appHasRole="['Admin']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Администратор</a>
      </li>
      <li *appHasRole="['Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/admin']">Модератор</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/ads']">Обяви</a>
      </li>
      <li *appHasRole="['Member', 'Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/favorites']">Наблюдавани</a>
      </li>
      <li *appHasRole="['Member', 'Moderator']" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Съобщения<span *ngIf="unreadMessagesCount > 0"> ({{unreadMessagesCount}})</span></a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        {{authService.decodedToken.unique_name}}
      </a>
      <div class="dropdown-menu mt-4" *dropdownMenu>
        <div *appHasRole="['Member', 'Moderator']">
          <a class="dropdown-item" [routerLink]="['/user/ads']"><i class="fa fa-buysellads"></i> Моите обяви</a>
          <div class="dropdown-divider"></div>
        </div>
        <a class="dropdown-item" [routerLink]="['/user/edit']"><i class="fa fa-user"></i>  Редактиране на профила</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Изход</a>
      </div>
    </div>

    <a *ngIf="!loggedIn()" class="text-light" [routerLink]="['/auth']" style="padding-left:790px;">Вход</a>
    <a *ngIf="loggedIn() && hasRole(['Moderator', 'Member'])" class="btn btn-warning" [routerLink]="['/ad/new']" style="margin-left:10px;"><i class="fa fa-plus"></i> Добави обява</a>
  
  </div>
</nav>
