<div class="container mt-4">
  <h4>Редакция на профила</h4>
  <hr>
  <div class="row">
    <div class="col-md-9 personal-info">
      <h5>Лична информация</h5>
      <div class="col-sm-8">
        <div *ngIf="editForm.dirty" class="alert alert-info">
          <strong>Информация:</strong> Вие направихте промени.  Всички незапазени промени ще бъдат изтрити!
        </div>
      </div>
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()" style="padding-top:5px;">
        <div class="form-group">
          <label for="userName" class="col-lg-3 control-label">Потребителско име:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="fullName" class="col-lg-3 control-label">Твоето име:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="fullName" [(ngModel)]="user.fullName">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-lg-3 control-label">Имейл адрес:</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email">
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-md-3 control-label">Населено място:</label>
          <div class="col-md-8">
            <textarea class="form-control" name="address" rows="3" [(ngModel)]="user.address"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-primary">Запази</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<hr>