<div class="container mt-4">
  <div>
    <h4>{{ad.title}}</h4>
  </div>
  <div>
    <h6><i>Категория: {{ad.categoryName}}</i></h6>
  </div>
  <div class="row mb-4">
    <!-- left part -->
    <div class="col-sm-4">
      <div class="card pb-2">
        <div class="card-img-wrapper">
          <img src="{{ad.photoUrl !== null ? ad.photoUrl : 'assets/img/default.jpg'}}" alt="{{ad.id}}" class="card-img-top img-thumbnail" style="height:350px;">
        </div>
        <div class="card-body mt-2">
          <div>
            <strong>Цена: </strong>
            <span *ngIf="ad.price == null;else show_price">
              По договаряне
            </span>
            <ng-template #show_price>
              {{ad.price === 0 ? 'Безплатно' : ((ad.price | number : '1.2-2') + ' лв.')}}
            </ng-template>
          </div>
          <div>
            <strong>Адрес:</strong> {{ad.location}}
          </div>
          <div>
            <strong>Добавена:</strong> {{ad.dateAdded | date}}
          </div>
          <div *ngIf="ad.isUsed !== null">
            <strong>Състояние: </strong> {{ ad?.isUsed ? 'използвано' : 'ново'}}
          </div>
          <div class="mt-1" *ngIf="this.ad.isApproved && ad.likesCount !== null && ad.likesCount > 0  && this.userIsLoggedIn() && !this.isNotLoggedInUserAd()">
            <i>Наблюдаващи обявата: {{ad.likesCount}}</i>
          </div>
          <div class="mt-1">
            <a [routerLink]="['/user', ad.userId, 'ads']">Вижте всички обяви от този потребител</a>
          </div>
        </div>
        <div class="card-footer" *ngIf="ad.isApproved && userIsLoggedIn() && isNotLoggedInUserAd() && userIsNotAdminOnly()">
          <div class="btn-group d-flex" >
              <button class="btn btn-primary w-100" (click)="addToLikedAds(ad.id)" style="height:36.5px;">Наблюдавай</button>
          </div>
        </div>
      </div>
    </div>
    <!-- right part -->
    <div class="col-sm-8"> 
      <div class="tab-panel">
        <tabset #adTabs class="ad-tabset">
            <tab heading="Описание" (selectTab)="saveTabNumberInLocalStorage(0)">
              <textarea *ngIf="ad?.description !== null && ad?.description?.trim() !== ''"
                class="form-control"
                name="description"
                rows="15" 
                [(ngModel)]="ad.description"
                style="background-color:#FFF !important;color:black;text-align: justify;"
                disabled>
              </textarea>
              <p *ngIf="ad?.description === null || ad?.description?.trim() === ''" class="text-center pt-3">Няма налично описание</p>
            </tab>
            <tab heading="Снимки" (selectTab)="saveTabNumberInLocalStorage(1)">
              <p *ngIf="galleryImages.length === 0" class="text-center pt-3">Няма налични снимки</p>
              <ngx-gallery *ngIf="galleryImages.length !== 0" style="margin-left:120px;margin-top:13px;" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
            </tab>
            <ng-container *ngIf="ad.isApproved && userIsLoggedIn() && userIsNotAdminOnly()">
              <tab heading="Съобщения" *ngIf="recipientId !== getLoggedInUserId()" (selectTab)="saveTabNumberInLocalStorage(2)" (selectTab)="adMessagesComponent.loadMessages()">
                <app-ad-messages #adMessagesComponent [ad]="ad" [recipientId]="recipientId"></app-ad-messages>
              </tab>
            </ng-container>
        </tabset>
      </div>
    </div>
  </div>
</div>
