<div class="container mt-4">
  <div class="input-group">
    <input type="text" [(ngModel)]="userParams.searchText" style="margin-right:4px;" class="form-control" placeholder="Филтрирай по име или адрес на обява" (input)="filterByNameOrAddress()">
    <select class="form-control" style="margin-right:4px;" [(ngModel)]="userParams.categoryId" (change)="loadAds(true)">
      <option [value]="0">Всички категории</option>
      <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
    <select class="form-control" [(ngModel)]="userParams.sortCriteria" (change)="loadAds(true)">
      <option value="newest">Най-нови</option>
      <option value="cheapest">Най-евтини</option>
      <option value="expensive">Най-скъпи</option>
      <option value="negotiation">По договаряне</option>
    </select>
  </div>
  <hr>
  <p *ngIf="ads?.length == 0" style="text-align: center;">Няма намерени обяви.</p>
  <div *ngIf="ads?.length !== 0" class="row mt-4">
    <div *ngFor="let ad of ads" class="col-lg-2 col-md-3 col-sm-6">
      <app-ad [ad]="ad"></app-ad>
    </div>  
  </div>
</div>
<div *ngIf="ads?.length !== 0" class="d-flex justify-content-center mt-2">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
