<div class="tab-panel" style="text-align: center; margin-top: 60px; margin-left: 25%; margin-right: 25%;">
  <tabset class="ad-tabset" [justified]="true">
    <tab heading="Вход" (deselect)="this.loginForm.reset()">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" 
            [ngClass]="{'is-invalid': loginForm.get('username').errors 
              && loginForm.get('username').touched}"
            class="form-control" 
            formControlName="username" 
            placeholder="Потребителско име">
          <div class="invalid-feedback" 
            *ngIf="loginForm.get('username').hasError('required') 
              && loginForm.get('username').touched" style="text-align: left;">
              Потребителското име е задължително
          </div>
        </div>

        <div class="form-group">
          <input type="password" 
            [ngClass]="{'is-invalid': loginForm.get('password').errors 
              && loginForm.get('password').touched}"
            class="form-control" 
            formControlName="password" 
            placeholder="Парола">
          <div class="invalid-feedback" 
            *ngIf="loginForm.get('password').hasError('required') 
              && loginForm.get('password').touched" style="text-align: left;">
              Полето "Парола" е задължително
          </div>
        </div>

        <span class="form-group text-center">
          <button class="btn btn-success" [disabled]="!loginForm.valid" type="submit">Вход</button>
        </span>
      </form>
    </tab>
    <tab heading="Регистрация" (deselect)="register.registerForm.reset()">
      <app-register #register></app-register>
    </tab>
  </tabset>
</div>
