<div class="container mt-3 mb-1">

  <div class="row">
    <div class="btn-group">
      <button class="btn btn-primary" [class.active]="messageContainer === 'Unread'" name="unread" ngDefaultControl btnRadio="Unread" (click)="loadMessages('Unread', true)">
        <i class="fa fa-envelope"></i> Непрочетени
      </button>
      <button class="btn btn-primary" [class.active]="messageContainer === 'Inbox'" name="inbox" ngDefaultControl btnRadio="Inbox" (click)="loadMessages('Inbox', true)">
        <i class="fa fa-envelope-open"></i> Получени
      </button>
      <button class="btn btn-primary" [class.active]="messageContainer === 'Outbox'" name="outbox" ngDefaultControl btnRadio="Outbox" (click)="loadMessages('Outbox', true)">
        <i class="fa fa-paper-plane"></i> Изпратени
      </button>
    </div>
  </div>

  <p *ngIf="messages?.length === 0" class="text-center" style="margin-top: 50px;">Нямате {{getMessageType(messageContainer)}} съобщения.</p>
  
  <div class="row" *ngIf="messages?.length > 0">
    <table class="table table-hover" style="cursor: pointer;border: 1px solid gainsboro;">
      <tr>
        <th *ngIf="messageContainer !== 'Outbox'" style="width: 10%">Подател</th>
        <th *ngIf="messageContainer === 'Outbox'" style="width: 10%">Получател</th>
        <th style="width: 20%">Обява</th>
        <th style="width: 55%">Съобщение</th>
        <th style="width: 40%">Дата</th>
        <th style="width: 10%"></th>
      </tr>
      <tr [style.background-color]="isNotRead(message) ? '#eee' : 'null'" *ngFor="let message of messages" [routerLink]="['/ads', message.adId]" [queryParams]="{recipient: this.recipientOfTheMessage(message), tab: 2}">
        <td>
          <div *ngIf="messageContainer !== 'Outbox'">
            {{message.senderUsername}}
          </div>
          <div *ngIf="messageContainer === 'Outbox'">
            {{message.recipientUsername}}
          </div>
        </td>
        <td>{{message.adTitle}}</td>
        <td *ngIf="!senderDeletedIt(message)" style="text-align: justify;">{{message.content}}</td>
        <td *ngIf="senderDeletedIt(message)" style="text-align: justify;"><i>[съобщението е премахнато]</i></td>
        <td>{{message.messageSent | date}}</td> <!-- message.messageSent | timeAgo -->
        <td>
          <button *ngIf="senderIsLoggedInUser(message)" class="btn btn-danger" (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)">Изтрий</button>
        </td>
      </tr>
    </table>
  </div>

</div>
<div *ngIf="messages?.length !== 0" class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>