<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-group">
    <input type="text" 
      [ngClass]="{'is-invalid': registerForm.get('username').errors 
        && registerForm.get('username').touched}"
      class="form-control" 
      formControlName="username" 
      placeholder="Потребителско име">
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('username').hasError('required') 
        && registerForm.get('username').touched" style="text-align: left;">
        Потребителското име е задължително
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched" style="text-align: left;">
        Потребителското име трябва да бъде поне 4 символа
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').touched" style="text-align: left;">
        Потребителското име не трябва да надвишава 10 символа
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('fullName').errors && registerForm.get('fullName').touched}" class="form-control"
      placeholder="Твоето име" formControlName="fullName">
    <div class="invalid-feedback" *ngIf="registerForm.get('fullName').touched && registerForm.get('fullName').hasError('required')" style="text-align: left;">
        Твоето име е задължително
    </div>
    <div class="invalid-feedback" *ngIf="registerForm.get('fullName').hasError('minlength') && registerForm.get('fullName').touched" style="text-align: left;">
        Твоето име трябва да съдържа поне 2 символа
    </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" class="form-control"
      placeholder="Имейл адрес" formControlName="email">
      <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')" style="text-align: left;">Полето "Имейл" е задължително</div>
      <div class="invalid-feedback" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')" style="text-align: left;">Полето "Имейл" трябва да съдържа валиден имейл адрес</div>
  </div>
      
  <div class="form-group">
    <input type="password" 
      [ngClass]="{'is-invalid': registerForm.get('password').errors 
        && registerForm.get('password').touched}"
      class="form-control" 
      formControlName="password" 
      placeholder="Парола">
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('required') 
        && registerForm.get('password').touched" style="text-align: left;">
        Полето "Парола" е задължително
    </div>
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('minlength') 
        && registerForm.get('password').touched" style="text-align: left;">
        Паролата трябва да бъде поне 6 символа
    </div>
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('maxlength') 
        && registerForm.get('password').touched" style="text-align: left;">
        Паролата не трябва да навдишава 12 символа
    </div>
  </div>

  <div class="form-group">
      <input 
        [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
          && registerForm.get('confirmPassword').touched
          || registerForm.get('confirmPassword').touched
          && registerForm.hasError('mismatch')}"
        type="password" 
        class="form-control" 
        formControlName="confirmPassword" 
        placeholder="Потвърди парола">
      <div class="invalid-feedback" 
        *ngIf="registerForm.get('confirmPassword').hasError('required') 
          && registerForm.get('confirmPassword').touched" style="text-align: left;">
          Полето "Потвърди парола" е задължително
      </div>
      <div class="invalid-feedback" 
        *ngIf="registerForm.hasError('mismatch') 
          && registerForm.get('confirmPassword').touched && registerForm.get('confirmPassword').value != ''" style="text-align: left;">
          Двете пароли трябва да съвпадат
      </div>
    </div>

  <span class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Регистрация</button>
    <!-- <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button> -->
  </span>
</form>