<div class="container mt-3 mb-4">
  <h4>Администраторски панел</h4>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="Управление на потребители" *appHasRole="['Admin']">
        <div class="container">
          <app-user-management></app-user-management>
        </div>
      </tab>
      <tab heading="Управление на обяви" *appHasRole="['Admin', 'Moderator']">
        <div class="container">
          <app-ad-management></app-ad-management>
        </div>
      </tab>
      <tab heading="Управление на категории" *appHasRole="['Admin', 'Moderator']">
        <div class="container">
          <app-category-management></app-category-management>
        </div>
      </tab>
    </tabset>
  </div>
</div>
