<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Web Bazar</h1>
    <p class="lead">Come on in to find whatever you want... All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
    <hr/>
    <div class="row mt-3">
    <div *ngFor="let ad of ads" class="col-lg-2 col-md-3 col-sm-6">
        <ad [ad]="ad"></ad>
    </div>
  </div>
  <div class="row"><a [routerLink]="['/ads']">Vij poveche</a></div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegister($event)"></app-register>
      </div>
    </div>
  </div>
</div>
