<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
        <h4>Редакция на обява</h4>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Информация:</strong> Вие направихте промени. Всички незапазени промени ще бъдат изтрити!
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-4"> <!-- left part -->
      <div class="card">
        <ng-container *ngIf="ad.photoUrl !== null;else NoPhoto">
          <img src="{{ad.photoUrl}}" alt="{{ad.id}}" class="card-img-top img-thumbnail" style="width:350px;height:350px;">
        </ng-container>
        <ng-template #NoPhoto>
          <img src="https://www.tibs.org.tw/images/default.jpg" class="card-img-top img-thumbnail" style="width:350px;height:350px;">
        </ng-template>
        <div class="card-body">
            <div>
              <strong>Заглавие:</strong> {{ad.title}}
            </div>
          <div>
            <strong>Цена:</strong> {{ad.price}} лв.
          </div>
          <div>
            <strong>Населено място:</strong> {{ad.location}}
          </div>
          <div>
            <strong>Категория:</strong> {{ad.categoryName}}
          </div>
          <div>
            <strong>Добавена:</strong> {{ad.dateAdded | date}}
          </div>
          <div>
            <strong>Състояние: </strong><ng-container *ngIf="ad.isUsed;else Other">използвано</ng-container><ng-template #Other>ново</ng-template>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Редакция на обява</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8"> <!-- right part -->
      <div class="tab-panel">
        <tabset class="ad-tabset">
            <tab heading="Детайли">
                <form #editForm="ngForm" id="editForm" name="editForm" (ngSubmit)="updateAd()">
                    <h5>Заглавие на обявата</h5>
                    <input type="text" class="form-control" name="title" [(ngModel)]="ad.title">
                    <h5 class="mt-2">Категория</h5>
                    <select class="form-control" [(ngModel)]="ad.categoryId" name="categoryId" (change)="onCategorySelect()">
                      <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                    </select>
                    <h5 class="mt-2">Населено място</h5>
                    <input type="text" class="form-control" name="location" [(ngModel)]="ad.location">
                    <h5 class="mt-2">Цена</h5>
                    <input type="number" class="form-control" name="price" [(ngModel)]="ad.price">
                    <!--<h4 class="mt-2">Is Used <input class="ml-2" type="checkbox" name="isUsed" [(ngModel)]="ad.isUsed"/></h4>-->
                    <h5 class="mt-2">Състояние</h5>
                    <select class="form-control" [(ngModel)]="ad.isUsed" name="isUsed">
                      <option [ngValue]="true">използвано</option>
                      <option [ngValue]="false">ново</option>
                    </select>
                    <h5 class="mt-2">Описание</h5>
                    <textarea class="form-control" name="description" rows="3" 
                      [(ngModel)]="ad.description"></textarea>
                </form>
            </tab>
            <tab heading="Снимки">
              <photo-editor [photos]="ad.photos" [adId]="ad.id" (getAdPhotoChange)="updateMainPhoto($event)"></photo-editor>
            </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
