<div class="row mt-3">
  <div class="col-sm-10">
    <input type="text" [(ngModel)]="newCategoryName" class="form-control" placeholder="Добави нова категория">
  </div>
  <div class="col-sm-2">
    <button class="btn btn-light form-control" [disabled]="newCategoryName.trim().length === 0" (click)="addCategory()">Добави</button>  
  </div>
</div>
<div *ngIf="categories !== null && categories?.length !== 0" class="row mt-2">
  <div class="col">
    <table  class="table">
      <tr>
        <th style="width: 30%">ID</th>
        <th style="width: 50%">Категория</th>
        <th style="width: 20%"></th>
      </tr>
      <tr *ngFor="let category of categories">
        <td>{{category.id}}</td>
        <td [attr.contenteditable]="allowEdit" (click)="onClick()" (blur)="updateCategory($event, category)">{{category.name}}</td>
        <td><button class="btn btn-danger" (click)="removeCategory(category.id)">Премахни</button></td>
      </tr>
    </table>
  </div>
</div>
<p *ngIf="categories === null || categories?.length === 0" style="text-align: center; margin-top: 20px;">
  Няма добавени категории.
</p>
