<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item mt-2" style="border-top: 1px outset gainsboro;" *ngFor="let ad of ads">
        <img src="{{ad.photoUrl !== null ? ad.photoUrl : 'assets/img/default.jpg'}}" alt="{{ad.id}}" style="height:70px;width:70px" class="img-thumbnail mr-2">
        {{ad.title}}
        <div style="float:right;">
          <button type="button" class="btn btn-sm btn-outline-info mr-1" [routerLink]="['/ads', ad.id]">Преглед</button>
          <button type="button" class="btn btn-sm btn-success mr-1" (click)="approveAd(ad.id)">Одобри</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="rejectAd(ad.id)">Отхвърли</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<p *ngIf="ads?.length == 0" class="text-center mt-4">Няма обяви за администриране.</p>
